body {
    margin: 0px;
}

.cv-document {
	box-sizing: border-box;
	border: none;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	text-decoration: none;
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: arial, sans-serif, tahoma;
	font-size: 10pt;
}

.cv-page {
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    width: 900px;
    min-height: 900px;
    margin: 0 auto;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    background-color: #fff;
    position: relative;

    padding: 120px;
}
.section-title{
    text-transform: uppercase;
    padding-top: 15px;
}


td, th {
    text-align: left;
    vertical-align: top;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cv-info-header{
    width: 100px;
}

.cv-info-name{
    font-size: 25pt;
    font-weight: bold;
    margin-bottom: 10px;
    color: darkslategrey;
}
.avatar{
    position: absolute;
    width: 120px;
    top: 150px;
    right: 120px;
}

.table-3 tr td:first-child, .table-3 tr th:first-child{
    width: 33%;
}
.table-3 {
    width: 100%;
}

.table-3 tr td, .table-3 tr th{
    border-bottom: 1px solid #eee;
}

p{
    margin: 0;
    padding: 0;
}

ul, ol {
    padding-left: 20px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timeline .table-3{
    
    margin-left: 15px;
}
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    left: -12px;
    background-color: black;
    top: 8px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: gray;
    top: 0;
    bottom: 0;
    margin-left: 8px;
  }